::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

body
  overflow-y: hidden
  
header
  position fixed
  top 0
  width 100vw
  height 70px
  display flex
  justify-content flex-end
  align-items center
  
  img 
    width 30px
    height auto
    margin-right 100px