.return
  img
    width 10px
    height auto
    position absolute
    top 30px
    left 30px

.container-mission
  width 100vw
  height 100vh
  background-color #1f1f27
  display flex

  .mission-info
    margin-top 8vh
    margin-left 100px
    height 71vh

    .mission-name
      border-bottom 1px solid #fff
      position relative

      p
        font-size 42px
        white-space nowrap
        padding-right 0px

    .mission-description
      border-bottom 1px solid #fff
      position relative

      p
        font-size 12px
        padding-right 50px

    .agency
      position relative


  h2
    font-size 18px
    font-weight 900
    font-family 'Proxima'
    text-transform uppercase
    color #fff
    padding-left 40px
    padding-top 40px
    position relative
    z-index 100
  p
    font-family 'Bodoni'
    color #fff
    font-size 18px
    padding 20px 150px 40px 60px

  .style
    width 30px
    height 30px
    background-color $red
    position absolute
    top 30px
    left 25px
    z-index 0

  .map
    margin-top 8vh
    margin-right 50px

    .coord
      margin-bottom 25px
      display flex
      justify-content space-between
      position relative

      .style
        left -10px

      p
        padding 40px 0px 0px 40px 
        font-family 'Proxima'
        font-weight 700
        font-size 15px

      h2
        padding-left 0px


    #map
      height 61vh
      width 50vw

.footer
  .desc-form
    color #fff
    font-family 'Proxima'
    font-size 15px
    font-weight 600 
    margin-right 10px

  input[type="submit"]
    color $red
    font-family 'Proxima'
    font-size 18px
    font-weight 600 

  select
    font-family 'Proxima'
    font-size 15px
    font-weight 600 
    color $red